
#BT{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 25px;
    background: -webkit-linear-gradient(#ee0979, #ff6a00,yellow,green,blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     animation: hue 5s infinite linear;
}
@keyframes hue {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(360deg);
    }
  }

#menu{
    justify-content: space-around;
}
.list{
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
} 


.carousel-inner img{
    height: 420px;
}

#menu .list a{
    text-decoration: none;
    color: brown;
}

#menu .list a:hover{
    font-size: 16px;
    font-weight: bold;
}

#footer{
    text-align: center;
}

.hl{
    color: red;
    font-size: 15px;
}

#footer p:hover{
    font-size: 17px;
    cursor: pointer;
    font-weight: 50%;
}

.container h4{
    text-align: center;
    
}

.card {
    text-align: center;
}
